body{
  background-image: url('tumblr_nveiawQUXn1rux5zyo1_400.gif');
  background-size: cover;
}

footer{
  width: 100%;
  bottom: 5px;
  position: fixed;
  text-align: right;
  right: 20px;
  color: #BFB3B3;
}

footer > a:-webkit-any-link {
  color: #BFB3B3;
  text-decoration: none;
}

footer > a:-moz-any-link {
  color: #BFB3B3;
  text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.social-media{
  text-align: left;
  margin-left: 35px;
  left: 20px;
  bottom: 0;

}

.social-media > i{
  margin-left: 10px;
}

